NODE_ENV=production
SITE=http://localhost:3000
PORT=3000
APP_PORT=3000

JWT_SIGNING_KEY=change-me

GOOGLE_CLIENTID=
GOOGLE_CLIENTSECRET=

POSTGRES_USER=porf
POSTGRES_PASSWORD=123456
POSTGRES_DB=porf
POSTGRES_VERSION=14
POSTGRES_HOST=db
POSTGRES_PORT=5432
POSTGRES_EXPOSE_PORT=5433
