.active-text {
  color: #5371ff;
  animation: fadeInOut 2s ease-in-out infinite;
}

/* Определение анимации */
@keyframes fadeInOut {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.7;
  }
}
